<!-- templates/room_setup.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Создать или войти в комнату</title>
</head>
<body>
  <h1>Игровая комната</h1>
  <h2>Выбран режим: {{ mode }}</h2>
  <form action="/game" method="get">
    <label>Введите код комнаты:</label>
    <input type="text" name="room" required>
    <button type="submit">Войти</button>
  </form>

  <br>

  <form id="createForm" action="/game" method="get">
    <input type="hidden" name="room" id="generatedRoomCode">
    <button type="submit">Создать случайную комнату</button>
  </form>

  <script>
    document.getElementById('createForm').addEventListener('submit', function(e) {
      const roomCode = Math.random().toString(36).substr(2, 6).toUpperCase();
      document.getElementById('generatedRoomCode').value = roomCode;
    });
  </script>
</body>
</html>
